<section class="thirteen columns">
    <h1>APPS</h1>
    <article>
        <p>- Exploory: http://www.exploory.com/ (not released yet)</p>
        <p>- Garganta de los Montes (not released yet)</p>
        <p>- ViveHoyo + AR: https://itunes.apple.com/us/app/vive-hoyo/id897961208?mt=8</p>
        <p>- Parclick: https://itunes.apple.com/es/app/parclick/id1175900386?l=en&mt=8</p>
        <p>- CiclaMadrid: https://itunes.apple.com/us/app/ciclamadrid-conecta/id1286617029?mt=8 (http://www.lavanguardia.com/local/madrid/20180118/44106005810/la-aplicacion-ciclamadrid-conecta-de-la-comunidad-se-alza-con-un-premio-sobre-apps-de-turismo-en-fitur.html)</p>
        <p>- Valeet v1.0: https://itunes.apple.com/us/app/valeet-olv%C3%ADdate-de-aparcar/id1123372231?l=es&ls=1&mt=8</p>
        <p>- Trōv: http://trov.com/ (only in UK, USA and Australia AppStore) https://itunes.apple.com/us/app/trov/id699005866?mt=8 </p>
        <p>- IE University: https://itunes.apple.com/es/app/ie-university/id980659319?mt=8</p>
        <p>- Fox Play: http://www.foxplay.com/es/apps/getapps</p>
        <p>- NBCU - SyFy: http://www.syfy.com/apps/syfy-now</p>
        <p>- echome iPhone app: http://www.getechome.com/ (never released)</p>
        <p>- ironman: https://itunes.apple.com/es/app/id586082734?mt=8</p>
        <p>- Jump&Fly: https://itunes.apple.com/es/app/id907945463?mt=8</p>
        <p>- Tempus: https://itunes.apple.com/us/app/tempus-weather/id949193983?l=es&ls=1&mt=8 </p>
        <p>- newscover (removed from appStore)</p>
        <p>- MIO TV: https://itunes.apple.com/es/app/mio-tv/id881938436?mt=8</p>
        <p>- Sport.es: https://itunes.apple.com/es/app/id334426124?mt=8</p>
        <p>- Sport.es iPad: https://itunes.apple.com/es/app/id560515062?mt=8</p>
        <p>- QMD: https://itunes.apple.com/es/app/que-me-dices-famosos-moda-corazon-realities/id884054684?mt=8</p>
        <p>- CrecerFeliz: https://itunes.apple.com/es/app/crecer-feliz-gu%C3%ADa-del-bebe/id933189145?mt=8</p>
        <p>- Elle Gourmet: https://itunes.apple.com/es/app/elle-gourmet-gastronom%C3%ADa-cocina-recetas-postres/id390290145?mt=8</p>
        <p>- Elle: https://itunes.apple.com/es/app/elle-moda-belleza-tendencias/id584343254?mt=8</p>
        <p>- DiezMinutos: https://itunes.apple.com/es/app/id450709241?mt=8</p>
        <p>- Cinemania: https://itunes.apple.com/es/app/cinemania/id696728267?mt=8</p>
        <p>- elPeriodico: https://itunes.apple.com/es/app/id407970190?mt=8</p>
        <p>- Cuore: https://itunes.apple.com/es/app/id386922941?mt=8</p>
        <p>- Woman: https://itunes.apple.com/es/app/id386802094?mt=8</p>
        <p>- Stilo: https://itunes.apple.com/es/app/id568351471?mt=8</p>
        <p>- Surfpricer: https://itunes.apple.com/es/app/surfpricer/id542349685?mt=8</p>
        <p>- LineaDirecta EnRuta: https://itunes.apple.com/es/app/en-ruta/id444703674?mt=8</p>
        <p>- elEconomista: https://itunes.apple.com/es/app/eleconomista.es/id334862697?mt=8</p>
        <p>- elEconomista para iPad (ecoTablet): https://itunes.apple.com/es/app/eleconomista-para-ipad/id429884058?mt=8</p>
        <p>- elEconomista Edición Impresa (Newsstand): https://itunes.apple.com/es/app/eleconomista-edicion-impresa/id491306100?mt=8</p>
        <p>- InfoMultas: https://itunes.apple.com/es/app/infomultas/id456005792?mt=8</p>
        <p>- Radio Tentación: https://itunes.apple.com/es/app/radio-tentacion/id498453007?mt=8</p>
        <p>- McDonalds: https://itunes.apple.com/es/app/mcdonalds-espana/id432904315?mt=8</p>
        <p>- Mas Flamenco Radio: https://itunes.apple.com/es/app/masflamencoradio/id465928789?mt=8</p>
        <p>- Tick2go: https://itunes.apple.com/es/app/tick2go-by-delaware/id320986491?mt=8</p>
        <p>- entradas.com: https://itunes.apple.com/es/app/entradas.com-venta-entradas/id406952562?mt=8</p>
        <p>- ServiCaixa: https://itunes.apple.com/es/app/ticketmaster-venta-entradas/id511285528?mt=8 </p>
        <p>- ServiCaixaXL: https://itunes.apple.com/es/app/ticketmasterxl-venta-entradas/id511299853?mt=8</p>
        <p>- AirEuropa: https://itunes.apple.com/es/app/aireuropa-mobile/id563224671?mt=8</p>
        <p>- TPV móvil: https://itunes.apple.com/es/app/tpv-movil/id399987311?mt=8</p>        
    </article>
</section>
