<section class="thirteen columns">
    <h1>Certifications</h1>
    <article>
        <header>
            <h1>TDD for iOS Development</h1>
            <span><address>KeepCoding®</address><time>2015</time></span>
        </header>
        <p>
            License UC-AXJZH2LL
        </p>
    </article>
    <article>
        <header>
            <h1>Agile methodologies and Lean</h1>
            <span><address>Miríada X</address><time>2014</time></span>
        </header>
        <p>
            Miríada X, License 23f25978-eead-45a3-901f-c48776623fbb
        </p>
    </article>
    <article>
        <header>
            <h1>Android: Apps developent</h1>
            <span><address>Miríada X</address><time>2014</time></span>
        </header>
        <p>
            Miríada X, License 4f50b136-1671-4bca-8088-9d2223b5928f
        </p>
    </article>
    <article>
        <header>
            <h1>Free source and open source</h1>
            <span><address>Miríada X</address><time>2013</time></span>
        </header>
        <p>
            Miríada X, License d99050e5-6788-4166-9aae-ab4e3b11f36e
        </p>
    </article>    
</section>