<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Engineer's Degree, Computer Science</h1>
            <span>University of Alcalá</span>
            <span><address>Alcalá de Henares, Madrid, Spain</address><time>2003 to 2008</time></span>
        </header>
        <p>
            <em>Thesis: design and develop of an educational application for mobile devices using J2ME technology called TheBrainMaker.</em>
        </p>
    </article>
</section>
