<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>iOS Software Engineer</h1>
            <span><address>Trov Inc. | Danville, California</address><time>May 2015 to Dec 2015</time></span>
        </header>
        <p>Design and develop iOS application software for any aspects of Trov's services as required. Working remotely from Madrid. </p>    <p>Technologies and tools: Swift, ObjC, Xcode, Cocoapods, Carthage GitHub, Jira, PivotalTracker, Confluence, Optimizely, ZenDesk, Jenkins, Fastlane, CoreData, Realm, Fabric, Crashlytics, Testflight </p>
        <p>&#13;&#10;</p>
        <p>Methodologies: Gitflow, CodeReview, Continuous Integration, Agile, Unit Testing, SOLID, TDD, VIPER, Reactive, Dependency Injection, Service Locator </p>
    </article>
    <article>
        <header>
            <h1>Lead iOS Developer</h1>
            <span><address>Accedo.tv | Madrid, Spain</address><time>Dec 2014 to May 2015</time></span>
        </header>
        <p>As Lead iOS developer I lead specific mobile Accedo’s projects team in Southern Europe and Latin
America, including, but not limited to, managing mobile projects and development team, solution architecture, development of iOS software applications, deployment of products and solutions, helping with pre-sales and demos and working with product development as well as similar tasks.</p>
        <p>Projects: Fox Play for iPad, NBCU - SyFy</p>
    </article>
    <article>
        <header>
            <h1>Lead iOS Developer</h1>
            <span><address>TAPTAP Networks | Madrid, Spain</address><time>Jun 2012 to Dec 2014</time></span>
        </header>
        <p>Lead of iOS department in TAPTAP Networks, the largest mobile advertising network in Spain. Working in mobile advertising library development and integration, and in new applications.</p>
        <p>Technologies: Redmine, Jira, Wrike, Trello, Xcode, Cocoapods, Git, Bitbucket, iOS Static Libraries, Infobip, BugSense, ComScore, Google Analytics, Omniture, TestFlight, CocoaPods, MRAID, VAST, Finger printing, SecondScreen, Recognition.</p>
        <p>Projects: Sonata iOS SDK, NativeAds iOS SDK, Legal iOS SDK, SecondScreen, BrandExperience</p>
        <p>Apps: Newscover, Cuore, Woman, Surfpricer, Elle, DiezMinutos, iMagazine, Cinemania, Sport, elPeriodico, QMD, QUO, MIO TV</p>
    </article>
    <article>
        <header>
            <h1>iOS Development Lecturer</h1>
            <span><address>Universidad Europea de Madrid | Madrid, Spain</address><time>Oct 2011 to Jun 2012</time></span>
        </header>
        <p>Working as a iOS development teacher in a degree in the European University.</p>
    </article>
    <article>
        <header>
            <h1>Head of Mobile Development</h1>
            <span><address>Quadram | Madrid, Spain</address><time>Feb 2011 to Jun 2012</time></span>
        </header>
        <p>Head of the mobile development department of the company (Qapps) reporting to the CEO and with customers direct contact. Leading 6 people working in differents technologies like iOS, Android, BlackBerry, Qt, J2ME, Symbian, Windows Phone 7..., iOS Development specialist and Scrum Master of the company. </p>
        <p>Apps: elEconomista, EnRuta, elEconomista para iPad, InfoMultas, AsTV, MasFlamencoRadio, EstrategiasInversion, RadioTentacion, Depositos, elEconomista Newsstand, CampingES, iCervantes, McDonalds, Protégeles, NearBy, AnayaTouring, Trural, Resistance Social Invasion</p>
        <p>Technologies: Xcode, Cocoa, REST services, Web services, HTTP/HTTPS, XML, JSON, RegexKitLite, LayarPlayer, MapKit, GeoCode, GPS, Quartz, CoreLocation, MapsRoute, GoogleMaps Api Web, Flurry, AdSmartServer, CoreData, SQLite, XMPP, AppPurchase, Push-Notification, Newsstand, Facebook iOS API, Twitter API, VideoPlayer, 3DES Cipher, Certificate Validation, OpenSSL, PKCS7, Sockets, Audio/Video Streaming, AugmentedReality, SmartTV, comScore, Nielsen, PhoneGap</p>
    </article>
    <article>
        <header>
            <h1>J2ME Software Engineer</h1>
            <span><address>SICPA | Lausanne, Switzerland</address><time>Nov 2010 to Feb 2011</time></span>
        </header>
        <p>Technologies: J2ME, J2EE, eclipse, Maven, CVS, ajile.</p>
    </article>
    <article>
        <header>
            <h1>iOS/J2ME Developer</h1>
            <span><address>Mobile Snack Labs | Madrid, Spain</address><time>Jun 2009 to Oct 2010</time></span>
        </header>
        <p>Projects: Servicaixa, Telecinco, Tick2go, Servicaixa XL, Entradas.com</p>
    </article>
    <article>
        <header>
            <h1>iOS/J2ME Developer</h1>
            <span><address>Zed | Las Rozas, Spain</address><time>Sep 2007 to Mar 2009</time></span>
        </header>
        <p>Working as a J2ME developer and starting with iOS development when iPhone was released.</p>
    </article>
</section>
